# appveyor.yml
image:
    - Visual Studio 2019

environment:
    matrix:
        - TOXENV: py310-pandas2
        - TOXENV: py311-pandas2
        - TOXENV: py312-pandas2
        - TOXENV: py313-pandas2
        - TOXENV: flake8
        - TOXENV: doc8

build: off

install:
    - py -m pip install --upgrade pip
    - py -m pip install tox

test_script:
    - py -m tox
